@font-face {
   font-family: 'colonnamt';
   font-display: swap;
   src: url('file:///C:/Users/pacma/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-02-16_103850/fonts/colonnamt/font.ttf');
}
